<h1> 編集処理 </h1>
 
  <%= bootstrap_form_for(@user) do |f| %>

      <%= f.text_field :name, class: 'form-control' %>

      <%= f.email_field :email, class: 'form-control' %>

      <%= f.number_field :joinyear, class: 'form-control' %>

      <%= f.select :status, User.statuses_i18n.to_a.map(&:reverse!) %>

      <%= f.select :status, User.roles_i18n.to_a.map(&:reverse!) %>

      <%= f.password_field :password, class: 'form-control' %>

      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "編集する", class: "btn btn-primary" %>

  <% end %>

